@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Arvo&display=swap');

html,
body,
#__next {
  height: 100%;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
html::-webkit-scrollbar {
  display: none;
}

@keyframes appear_fastly {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear_slowly {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes discover_slowly {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulsing {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #2f1781;
  }
  100% {
    background-color: #a79dc8;
  }
}

@layer components {
  .shady-CTA {
    @apply text-[#d7cDf8] my-[10px] text-[11px] mobile2:text-[14px] mobile:text-[1.17em];
  }
  .bright-CTA {
    @apply text-[#fff] my-[10px] text-[11px] mobile2:text-[14px] mobile:text-[1.17em];
  }
}

@layer utilities {
  .vh-70px {
    height: calc(100vh - 70px);
  }
  .rotate-y-180 {
    transform: rotateY(180deg) translateZ(20px);
  }
  .appear-slowly {
    animation: appear_slowly 0.5s ease-in;
  }
  .appear-fastly {
    animation: appear_fastly 0.1s ease-in;
  }
  .discover-slowly {
    animation: discover_slowly 1.5s ease-in;
  }
  .pulsing {
    animation: pulsing 1s infinit linear;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .tranform-style-preserve3d {
    transform-style: preserve-3d;
    perspective-origin: 150% 150%;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-90-deg {
    transform: rotate(45deg);
  }
  .oblique {
    transform: skewY(-1deg);
  }
  .media-web-hero-image {
    width: 350px;
    height: 400px;
  }
  .media-web2-hero-image {
    width: 320px;
    height: 280px;
  }
  .media-mobile2-hero-image {
    width: 240px;
    height: 210px;
  }
  .media-mobile3-hero-image {
    width: 160px;
    height: 140px;
  }
  .grid-areas-text {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'text img';
  }
  .grid-areas-img {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img text';
  }
  .text-area {
    grid-area: text;
  }
  .img-area {
    grid-area: img;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .bg-all-employees {
    background: rgba(18, 0, 124, 0.05);
  }
  .bg-suggested-employees {
    background: rgb(18, 0, 124);
  }
  .text-all-employees {
    color: rgb(18, 0, 124);
  }
  .text-suggested-employees {
    color: #f3f2f8;
  }
}
